<div class="row d-flex justify-content-center mb-3">
    <div class="post-card card w-75">
        <div class="card-header pb-0">
            <img id="profile-img" src={{user.profile_picture}} class="rounded float-left" alt="profile-img">
            <!-- <h5 id="name-surname" class="float-left pl-3">Name Surname</h5> -->
            <ul id="btn-list" class="float-left pl-2">
                <li>
                    <h5><b>{{user.first_name}} {{user.last_name}}</b></h5>
                </li>
                <li>
                    <h6 class="text-muted">{{format_date date}} {{format_time date}}</h6>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
            {{!-- <img id="post-img" src="" class="img-thumbnail rounded mx-auto d-block" alt="post-img">
            <div class="input-group mt-3 mb-3 justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="file-name">File-name</span>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="download">Download</button>
                </div>
            </div> --}}
        </div>
        <div class="card-footer">
            <button id='likeBtn' class="btn btn-outline-primary" data="{{id}}" value="{{like}}"><i
                    class="far fa-thumbs-up"></i>{{like}}</button>
            <button id='dislikeBtn' class="btn btn-outline-primary" data="{{id}}" value="{{dislike}}"><i
                    class="far fa-thumbs-down"></i>{{dislike}}</button>
            <button id='commentBtn' class="btn btn-outline-primary"><i class="fa fa-comment"></i>Comment</button>

        </div>
    </div>
</div>