<div class="row d-flex justify-content-center mb-3">
    <div class="friend-card card w-50">
        <div class="card-header">
            <img id="profile-img" src="{{profile_picture}}" class="rounded float-left" alt="profile-img">
            <!-- <h5 id="name-surname" class="float-left pl-3">Name Surname</h5> -->
            <ul id="btn-list" class="float-left pl-2">
                <li>
                    <h5><b>{{first_name}} {{last_name}}</b></h5>
                </li>
                <li>
                    <h6 class="text-muted">{{programming_languages}}</h6>
                </li>
            </ul>
            <div class="card-body">
                <button class="addFriend btn btn-danger float-right" data-id="{{id}}"> + Add Friend</button>
            </div>
        </div>
    </div>
</div>